@media (min-width: 1200px) {
    .container {
        width: 100%;
        padding: 50px;
    }
}
body{
    font-family: Verdana, Helvetica, Arial, sans-serif;
}
h1{
    padding-left: 70px;
}
input{
    border: #C1D5D8 1px solid;
    border-radius: 5px;
}
label{
    font-weight: normal;
}
h2{
    font-weight: bold;
    padding: 10px 0 15px 0;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
.scrollable {
    height: 800px;
    overflow-y: auto;
}
.left-panel{
    background-color: #EEF4F5;
    border: #C7DADE 1px solid;
    border-radius: 5px;
}
.center-panel{
    border: #C7DADE 1px solid;
    border-radius: 5px;
    padding: 20px 30px 20px 20px;
}
.center-panel h2{
    padding: 0 0 0 30px;
}
.center-panel .col-md-6{
    padding: 0 30px 0 30px;
}
.center-panel .col-md-3{
    padding: 0 30px 0 0;
}
.center-panel input{
    width: 100%;
}
.center-panel h4{
    padding: 10px 0 0 0;
}
.center-panel .tags{
    padding: 10px 0 0 30px;
    font-weight: bold;
}
.center-panel input[type=button]{
    background-color: #EEF4F5;
    color: #4E6E74;
    display: inline-block;
    width: 25%;
}
.center-panel .right-panel{
    display: flex;
    align-items: stretch;
    align-content: flex-start;
    flex-direction: column;
    background-color: #F9FBFB;
    border: #C7DADE 1px solid;
    border-radius: 5px;
    height: 700px;
    padding: 0 10px 10px 10px;
}
.center-panel .right-panel .groups{
    height: 80%;
}
.center-panel .right-panel .field-group{
    background-color: white;
    border: #C7DADE 1px solid;
    border-radius: 5px;
    padding: 0 10px 0 10px;
}
.center-panel .right-panel input[type=button]{
    align-self: flex-end;
    width: 100%;
    background-color: white;
    line-height: 38px;
}
.type{
    background-color: white;
    color: black;
    border: #C1D5D8 1px solid;
    border-radius: 5px;
    padding: 5px;
    margin: 20px 0 20px 0;
}
.type:hover{
    background-color: #007E95;
    color: white;
    border: #C1D5D8 1px solid;
}
.type:hover .type-text-definition {
    color: white;
}
.filter-type{
    margin: 0 0 26px 0;
    display: block;
    line-height: 38px;
    width: 100%;
}
.input-type{
    display: block;
    line-height: 38px;
}
.type-title{
    margin: 7px 0 0 0;
}
.type-text{
    margin: 14px;
}
.type-text-definition{
    color: #738C90;
    display: block;
    font-size: small;
    padding: 5px 0 5px 0;
}
#style-1::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #A6A6A6;
}
.footer {
    padding: 20px 0 20px 0;
    line-height: 38px;
}
.footer .col-md-10{
    padding-left: 0;
}
.footer .col-md-2{
    padding-right: 0;
}
.save-button{
    background-color: #007E95;
    color: white;
}
.cancel-button{
    background-color: white;
    margin-right: 30px;
}
.delete-button{
    background-color: #AE121D;
    color: white;
}
